@media only screen
and (max-width: 410px) {
    body {
        background-color: red;
        font-size: medium;
        display: flex;
        flex-direction: column;
    }
}

@media only screen
and (min-width: 410px) 
and (max-width: 768px) {
    body {
          background-color: green;
          font-size: large;
          display: grid;
          grid-template-columns: 66% 33%;
        }
}

@media only screen and (min-width: 768px) {
    body {
      background-color: blue;
      font-size: larger;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
}